#heading {
    color: rgb(228, 9, 9);
}

.headerDiv{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.headerList{
    display: flex;
    list-style: none;
}

ui.headerList .name{
    padding: 25px 20px;
}

.logo{
    height: 80px;
    width: 110px;
}

.userImg{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 15px 20px !important;
}

.card{
   
    width: 250px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.card:hover{
    border: 1px solid gray;
    cursor: pointer;

}

.dis_img{
    margin: 15px;
    width: 220px;
    height: 200px;
}

.card_dish{
    margin: 2px 20px;
}
.card_rating{
    margin: 2px 20px;
}
.app_body{
    display: flex;
    flex-wrap: wrap;
}
.rated-btn{
    margin-top: 2px;
    padding: 20px;
    border: 1px solid gray;
    width: 200px;
}